h1 {
    text-align: center;
    color: black;
}

.city-name-text {
    font-size: 25px;
    text-align: center;
}

.container {
    margin-right: 20px;
    margin-left: 20px;
    display: grid;
    grid-column: 1;
}

.wrapper {
    display: grid;
    grid-column: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
}

.box1 {
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #CFCFCF;
    border-radius: 4%;
    border-color: #CDCDCD;
    background-color: #000000;
}

.card-text {
    text-align: center;
    color: #FFFFFF;
}

.date-text {
    font-size: 18px;
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}